{% extends 'blog/base.html' %}
{% load static %}


{% block content %}
 
 
<div class="row mt-4 mx-4" id="if-statements">
    {% for controlflow in controlflows  %}
    <div class="col-md-8">
    <div class="row" id="basics">
        <div class="col">
          <p>{{ controlflow.if_Statements | safe }}</p>   
        </div>
    </div>
    
    <div class="row" id="for-statements">
        <div class="col">
          <p>{{ controlflow.for_Statements | safe }}</p>   
        </div>
    </div>
     
    <div class="row" id="range-function">
        <div class="col">
          <p>{{ controlflow.range_Function | safe }}</p>   
        </div>
    </div>

    <div class="row" id="break-continue">
        <div class="col">
          <p>{{ controlflow.break_and_continue_Statements | safe }}</p>   
        </div>
    </div>

    <div class="row" id="pass-statements">
        <div class="col">
          <p>{{ controlflow.pass_Statements | safe }}</p>   
        </div>
    </div>
    </div>
    {% endfor %}

    <div class="col-md-4">
        <div class="row">
            <div class="col">
                <div class="accordion" id="accordionPanelsStayOpenExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                         Basics of Programming in python
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                          <div class="accordion-body">
                           <ol>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#basics">Basics of programming</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#numbers">Numbers and it's operations</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#string">Strings in python</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#list">Basics of List</a></li>
                          </ol>
                          </div>
                        </div>
                      </div>

                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                            Control flow tools
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                          <div class="accordion-body">
                            <ol>
                              <li><a style="text-decoration: none;" href="{% url 'control-flow' %}#if-statements">if Statements</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'control-flow' %}#for-statements">for Statements</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'control-flow' %}#range-function">The range() Function</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'control-flow' %}#break-continue">break and continue Statements, and else Clauses on Loops</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'control-flow' %}#pass-statements">pass Statements</a></li>
                          </ol>
                          </div>
                        </div>
                      </div>
                  
                      <div class="accordion-item">
                        <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                            Python functions
                          </button>
                        </h2>
                        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                          <div class="accordion-body">
                            <ol>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#basics">Basics of programming</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#numbers">Numbers and it's operations</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#string">Strings in python</a></li>
                              <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#list">Basics of List</a></li>
                          </ol>
                          </div>
                        </div>
                      </div>
                  
                      <div class="accordion-item">
                          <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                             Python Data structure
                            </button>
                          </h2>
                          <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                            <div class="accordion-body">
                              <ol>
                                <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#basics">Basics of programming</a></li>
                                <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#numbers">Numbers and it's operations</a></li>
                                <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#string">Strings in python</a></li>
                                <li><a style="text-decoration: none;" href="{% url 'python-basics' %}#list">Basics of List</a></li>
                            </ol>
                            </div>
                          </div>
                        </div>

                </div>
            </div>
        </div>
    </div>
</div>


        


{% endblock content %}
    