{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<body style="background-color: rgb(180, 177, 226);">
    

<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-12 col-sm-12 border-bottom">
           <h5> <strong>Update your Profile information</strong></h5>
        </div>
    </div>

    <div class="row justify-content-center mt-3 ">
             <div class="col-md-4">
                <a href="{% url 'profile' object.pk %}" class="btn btn-light"> Back to Profile</a>
             </div>
        <div class="col-md-8 border-bottom pt-1">
           <form action="" method="POST" enctype="multipart/form-data">
               {% csrf_token %}
               {{ form | crispy}}
               <div class="d-grid gap-2 mb-5">
                   <button class="btn btn-success mt-3">Update</button>
               </div>
           </form>
        </div>
    </div>

</div>
    

</body>
{% endblock content %}