{% load static %}
 
 
  
  <div class="col-lg-4 sidebar show-sidebar-desk">
      {% for post in post_list %}
      <span><h4 class="post-head">{{post.title}}</h4></span><br>
      <p class="post-text">{{post.content | slice:": 150"}}</p> <br>
      <a href="{% url 'post_detail' post.slug %}" class="read-more">Read More <i class="fal fa-arrow-circle-right"></i></a>
      <hr>
      {% endfor %}
     </div>
     
    
     <div class="col-lg-4 sidebar show-sidebar-mob" id="slide"> 
      {% for po in post %}
      <span><h4 class="post-head">{{post.title}}</h4></span><br>
      <p class="post-text">{{post.content | slice:": 150"}}</p> <br>
      <a href="{% url 'post_detail' post.slug %}" class="read-more">Read More <i class="fal fa-arrow-circle-right"></i></a>
      <hr> 
      {% endfor %}
      </div> 
     
    
    

<!--
<div class="col-lg-4 sidebar show-sidebar-desk">
    <span><h4 class="post-head">{{object.title}}</h4></span><br>
    <p class="post-text">{{object.content | slice:": 150"}}</p> <br>
    <a href="{% url 'post_detail' post.slug %}" class="read-more">Read More <i class="fal fa-arrow-circle-right"></i></a>
    <hr>
   </div>
   
   <div class="col-lg-4 sidebar show-sidebar-mob" id="slide">
    <span><h4 class="post-head">{{object.title}}</h4></span><br>
    <p class="post-text">{{object.content | slice:": 150"}}</p> <br>
    <a href="{% url 'post_detail' post.slug %}" class="read-more">Read More <i class="fal fa-arrow-circle-right"></i></a>
    <hr>
    
   </div>  
-->